@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    text-align: center;
    width: 700px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
    background-color: #555f8d80;
    backdrop-filter: blur(20px);
}
.container::before{
    content: '';
    position: absolute;
    top: 10%;
    left: -7%;
    z-index: 11;
    width: 800px;
    height: 60px;
    background: #5f2c82;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ball{
    position: absolute;
    background-color: #5f2c82;
    opacity: .5;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.ball0{
    width: 450px;
    height: 450px;
    left: 10%;
    top: 10%;
}
.ball1{
    top: 60%;
    left: 65%;
}
.container-login{
    margin-top: 20%;
}
.text{
    margin-top: 15px;
    font-size: 1.2rem;
    border: none;
    background-color: #E0E0E0;
    width: 300px;
    padding:10px 15px;
    font-family: 'Montserrat', sans-serif;

}
#login-submit{
    margin-top: 15px;
    padding:6px 30px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}
.check{
    width: 330px;
}
h1{
    text-align: center;
}