@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 700px;
    height: auto;
    margin-top: 120px;
    margin-left: 25%;
    justify-content: center;
    text-decoration: none;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
    background-color: #555f8d80;
    backdrop-filter: blur(20px);
    padding: 40px 20px 40px 20px;
    margin-bottom:-90px;
}
.title{
    display: flex   ;
    font-size: 1.1rem;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}
.title i{
    font-size: 1.2rem;
}
.main-area{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 150px;
    background-color: white;
    padding:10px;
    overflow: scroll;

}
.comment-area{
   font-size:0.8rem;
   background-color: white;
   width: 500px;
   padding: 10px;
   height: auto;
}
.date-container{
    display: flex;
}
.title-name{
    display: flex;
}
.comment-name{
    color: #6056ff;
}
.comment-link  {
    text-decoration: none;
    font-size:0.8rem;

}
.nav{
    display: flex;
    height:50px;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #555f8d80;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:11;
}
.logout{
    margin-left: 20px;
    font-size: 1rem;
    padding: 6px;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    transition: .2s ;
    border: none;
    background-color: white;
}
.logout:hover{
    color: white;
    background-color: black;

}
.ball{
    position:fixed;
    background-color: #5f2c82;
    opacity: .5;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.ball0{
    width: 450px;
    height: 450px;
    left: 10%;
    top: 10%;
}
.ball1{
    top: 60%;
    left: 65%;
}